* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    min-height: 100vh;
    width: 100%;
    position: relative;
    
}

.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh;
    padding-top: 50px; 


}

.link {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

.link img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid rgb(0, 0, 0) 2px; 
    box-shadow: 2px 2px 10px #746868;
}

.link h1 {
    
}

.link p {
    
}



footer {
    margin-top: 14vh;
    text-align:center;
    padding: 10px; 
    
    
}

footer a {
    color: white;
    text-decoration: none;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    position: static;
    
}

@media (max-width: 432px) {
    
}

